@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:wght@400;500;600;700;800;900&display=swap');
:root {
  font-family: 'Nunito', sans-serif;
  
  
  
  background-color: black;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





@tailwind base;
@tailwind components;
@tailwind utilities;
